
.Security {

    ul {
        display: none;
    }

    form {
    	margin: 0 auto;

    	/* align checkbox with label for 'remember me' */
		input.checkbox {
			width: inherit;
			float: left;
			margin: 3px 10px 0 0;
		}


    	#ForgotPassword {
    		display: inline-block;

    		a {
    			display: inline-block;
				background: colour(grey);
				color: colour(white);
				cursor: hand;
				cursor: pointer;
				text-decoration: none;
				font-size: 12px;
				font-weight: 700;
				text-transform: uppercase;
				padding: 10px 16px;
				box-sizing: border-box;
				border: 0;

				&:hover {
					background: darken(colour(grey), 10%);
				}
    		}
    	}
    }
}
